extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jeff Reeh

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Thanks for stopping by! I'm Jeff. I'm studying Full-Stack JavaScript web development, and interested in providing value to companies with a web-based development strategy.  With a relentless tenacity for problem solving, in-demand development skills, and an always-learning attitude, I'm confident I would be your best next hire. 
            br
            br
            | "Every great developer you know got there by solving problems they were unqualified to solve until they actually did it." -Patrick McKenzie, Twitter
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li Node.js
          li React
          li Express
          li Pug
          li Git
          li HTML5
          li CSS
          li Problem Solving
          li Interpersonal Communication
        h6 Contact Info

        ul
          li 512-740-0372
          li jeffreyreeh@icloud.com

        a.button.expanded(href='https://linkedin.com/in/jeff-reeh-6a7959131') LinkedIn
        a.button.expanded(href='https://github.com/jareeh') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  