extends layout.pug

block content
    nav.grid-container.portfolio-breadcrumb
        a(href='/') ← Click to go back home
    article.grid-container.portfolio-intro
        h1 Server Error! Try reloading the page or click above to go home
        h3 Error Message: #{err.message}
        h4 Status: #{err.status}
        h5 Are you a developer? Maybe this will tell you what's going on...
        pre= err.stack