extends layout.pug

block content
    nav.grid-container.portfolio-breadcrumb
        a(href='/') â† Click to go back home where it's safe
    article.grid-container.portfolio-intro
        h1 Uh oh! This link path doesn't lead to a known page :(
        h3 Error Message: #{err.message}
        h4 Status: #{err.status}
        //pre= err.stack